@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Sniglet&display=swap');

* { margin: 0 !important;
    padding: 0 !important; 
}

/* Página tipo de usuário */


/* .headerAcesso{
    position: relative;
    right: 0;
} */

.img-logo img{
    width: 30%;
}

/* css do main de acesso */

.mainAcesso{
   
    justify-content:center;
    margin-top: 8rem!important;
}

h3, p{
    color:#4D5E77;
}


.mainAcesso .botoes a{
    padding: .5em .2em!important;
    font-size: 1.2rem;
    font-family:'Poppins';
}


#estudante a, #professor a{
    width: 300px;
    border-radius: 8px;
    border: 0;
    color: #ffff;
}

#estudante a{
    background-color: #013563;
}


#professor a{
    background-color: #05ABC4;
}

/*css do footer de acesso  */
#footerAcesso{
    display: flex;
    justify-content: space-between;
}

/*################################## Página Login ###################################### */
.headerLogin {
    position: relative;
    right: 0;
}


.img-logo-login  img{
    width: 30%;
}
.formAcesso{
    justify-content: center;
    display: block;
    
}
.form{
    text-align: center;
    
}
.form-group{
    text-align: center;
}
.form-group label{
    text-align: left;
}
.form-group input {
    padding: .5rem .3rem!important;
    width: 300px;
    border-radius: 8px;
    border: 2px solid #05ABC4;
    outline: 0;
}
.form-group label {
    padding: .5rem .3rem!important;
    width: 300px;

}

.buttonAcesso input{
    padding: .5rem .3rem!important;
    width: 300px;
    border-radius: 8px;
    border: 0;
    color: #ffff;
    background-color: #05ABC4;
}

#cadastrar a, #voltar a, #recuperar a{
    color: #05ABC4;
}

#msgAlertaErroCad{
    color: rgb(184, 81, 81);
}

/* Modal de atualizar senha */
.modal{
   margin:10% 20% 0 28%!important;
}
#minha_caixa input {
    width:90%;
    border-radius: 8px;
    border: 2px solid #05ABC4;
    outline: 0;
    align-items: center;

}


/*################################## Página Acesso Professor ###################################### */
#img-logomini img{
    width: 170px;
}

#relatorio h3{
    font-size: 1.3rem;
}

#relatorio input{
padding: .2rem ;
margin-top: 0.6rem;
width: 300px;
border-radius: 10px;
border: 2px solid #05ABC4;
outline: 0;
align-items: center;
}

#relatorio button{
    background-color: #05ABC4;
    border-radius: 7px;
    border: 0;
    color: #ffff;
    width: 80px;
    padding: .2rem ;
}

/* Logout */

.logout img{
    width: 50px;
}

.sectionThree {
    margin-top: 150px!important;
}

#buttonProf{
    margin-top: 28rem!important;
}




