
@media (max-width: 575.98px) { 

    .mainAcesso{
        margin-top: 9rem!important;
        display: inline;
        justify-content:space-around;
    }
     
    .mainAcesso .botoes a{
        padding: .5em .2em!important;
        font-size: 1.2rem;
        font-family:'Poppins';
    }

    h3{
        font-size: 1.7rem!important;
    }
     #estudante a, #professor a{
        width: 200px;
        border-radius: 8px;
        border: 0;
        color: #ffff;
    }
    /* Login */

    .form{
        text-align: center;
        
    }
    .formAcesso .form h3{
        font-size: 1.4em!important;
    }
    .form-group{
        text-align: center;
    }

    .formAcesso{
        justify-content: center;
        margin-top: 4.5rem!important;
        
    }
    .form-group input {
        padding: .2rem .1rem!important;
        width: 200px;
        border-radius: 8px;
        border: 2px solid #05ABC4;
        outline: 0;
    }
    .form-group label {
        padding: .2rem .1rem!important;
        width: 200px;
    
    }

    .formCadastro .formAcesso{
        margin-top: 8rem!important;
    }
    
    .buttonAcesso input{
        padding: .2rem .1rem!important;
        width: 200px;
        border-radius: 8px;
        border: 0;
        color: #ffff;
        background-color: #05ABC4;
    }

        /* Modal de atualizar senha */
    .modal{
        width: 250px!important;

    }
    #minha_caixa input {
        width:95%;
        border-radius: 8px;
        border: 2px solid #05ABC4;
        outline: 0;
        align-items: center;
    }
    .modal .modal-footer{
       justify-content: center;
    }
    

    /* Jogo da memória */
    .section_jogo{

        display: block!important;
        margin-top: 4rem!important;
    }

    .cardNContainer{
        width: 375px!important;
    }

    .cardNContainer .jogoCard .card{
        padding: 10px;
        width: 70px!important;
        height:70px!important;
        border-radius: 15px!important;
    }

    .cardNContainer .card img{
        width: 70px!important;
        height: 70px!important;
    }
    #palavra h2{
        font-size: 20px!important;
        margin: 1.2rem!important;
    }

    .rodape p, #palavra p{
        font-size: 15px!important;
        line-height: 1rem!important;
        margin: 1rem!important;
    }

    .rodape #pInfo{
        font-size: 12px!important;
    }

    .rodape #btReinicio{
        padding:.2rem!important;
        margin-bottom: 2rem!important;
        margin-top: .2rem!important;
        font-size: 12pt!important;
    }

 
    

}
