@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
*{
    margin: 0!important;
    padding: 0!important;
}
 #nav_info{
    background-color: black; 
    font-family: 'Sniglet', cursive;   
   
}

/* Color logo */
p{
    font-size: 25px;
    padding: 2rem;

}



#jogo {
    width: 40rem;
    text-align: center;
    margin-left: 4rem!important;
}
#jogo h2{
    font-weight: bold;
}
#jogo img{
    width: 110px;
    height: 130px;
    margin-bottom: 2rem !important;
    border-color:  #013563;
    border-style: solid;
    border-radius: 20px;
    border-width: 0.1rem;
   
}

#jogo #rodape button{
    background-color: #05ABC4;
    padding:.7rem!important;
    margin-bottom: 2rem!important;
    margin-top: 2.5rem!important;
    font-size: 15pt;
} 


#jogo #pInfo{
    font-family: 'Sniglet', cursive;
    font-size: 15pt;
}

#palavra h2{
    font-weight: bold;
}

.cardJogoMemoria{
    background-color: #FFFFFF;
  
}

.jogoMemoria{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}