@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Sniglet&display=swap');


body {
    background-image: url('assets/capa_jogo.svg');
    background-repeat: no-repeat;
}

.section_jogo{
    position: relative;
    width: 1200px;
    height: 550px;
    /* background-color: #dddd; */
    left: 10rem;
}

.jogoForca .cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogoForca .cabecalho h1{
    color:#4D5E77;   
    font-family:'Poppins';
}


.jogoForca .cabecalho button{
    background-color: #05ABC4;
    border-radius: 7px;
    border: 0;
    color: #ffff;
    font-family:'Poppins';
    padding: .4em!important ;
    height: 2rem;
}

/* .display{
    display: block;
} */
.jogoForca .forca, .palavraSorteada, .controleJogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.jogoForca .forca img{
    width: 300px;
    height: 300px;
    margin: 1rem !important;
}
.letra, .letraDigitada{
    width: 3rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 5px!important;
    display: none;
    outline: none;
    border: none;
    border: solid 2px #4D5E77 ;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: #ffffff;
}

.letraDigitada{
    display: inline;
    border: solid 2px #4D5E77;
    width: 12rem;
}
.controleJogo {
    margin-top: 1rem!important;
}

.controle p{
    font-family:'Poppins';
    font-weight: bold;
    background-color: #ffffff;
}


.jogoForca .display .buttonExtras{
    display: flex;
}

.jogoForca .display .buttonExtras button{
    border-radius: 7px;
    border: 0;
    color: #ffff;
    font-family:'Poppins' ;
    padding: .4em!important ;
    height: 2.6rem;
    
}

.jogoForca .display .buttonExtras .buttonConferir button{
    background-color: #008037;
}

.jogoForca .display .buttonExtras .buttonDica button{
    background-color: #e0464c;
}


.buttonsFooter .buttonDica button{
    outline: none;
    border: none;
    background-color: #DDDDDD;
    height: 60px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items:center ;      
}
.buttonsFooter .buttonDica button:hover{
    background-color: #CCCCCC;
    transition: 0.3s;
}

.buttonsFooter .buttonDica .offcanvas{
    width: 100%!important;
    height: 200px;
    border-radius:0 0 5px 5px;
    background-color: #ffffff!important;
    font-family:'Poppins';
}
.buttonsFooter .buttonDica .offcanvas .offcanvas-body{
    line-height: 1.6rem;
    font-weight: 400;
}

.buttonsFooter .buttonDica .offcanvas .offcanvas-header button{
    border: none;
    background: none;
}


@media (max-width: 575.98px) { 
    .section_jogo{
        position: relative;
        width: 300px;
        height: 460px;
        /* background-color: #dddd; */
        left: 1rem;
    }
    .jogoForca .cabecalho h1{
        font-size:1.4rem;
        text-align: center;
    }

    .jogoForca .cabecalho button{
        background-color: #05ABC4;
        border-radius: 7px;
        border: 0;
        color: #ffff;
        font-family:'Poppins';
        padding: .3em!important ;
        height: 4rem;
        font-size: 1rem;
    }
    .jogoForca .forca img{
        width: 150px;
        height: 150px;
        margin: 1rem !important;
    }
    .jogoForca  .controleJogo{
        display: block;
        
    }
    .letra, .letraDigitada{
        width: 2rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        text-align: center;
        margin: 3px!important;
        display: none;
        outline: none;
        border: none;
        border: solid 2px #4D5E77 ;
        margin-bottom: .5rem;
        border-radius: 5px;
        background-color: #ffffff;
    }
    .controle p{
        font-family:'Poppins';
        font-size: 1rem;
    }
    .controleJogo .display{
        display: block!important;
    }
    
    
    .letraDigitada{
        display: inline;
        border: solid 2px #4D5E77;
        width: 12rem;
    }
    .jogoForca .display .controleJogo{
        display:block;
        
    }
    .jogoForca .display .buttonExtras{
        justify-content: center;
    }
    .jogoForca .display .buttonExtras button{
        border-radius: 7px;
        border: 0;
        color: #ffff;
        font-family:'Poppins' ;
        padding: .3em!important ;
        height: 2rem;
        font-size: 1rem;
        
    }
    .buttonsFooter .buttonDica button{
        height: 60px;
        width: 40px;
       
    }
    .buttonsFooter  .buttonDica img{
        height: 30px;
        width: 60px;
    }
}