@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

#nav_info{
    background-color: black; 
    font-family: 'Sniglet', cursive;   
}
p{
    font-size: 25px;
    padding: 2rem;

}
.section_jogo{
    display: flex;
}
.cardNContainer{
    width: 940px;
    display: flex ;
    align-items: center;
    justify-content: center;
}

.cardNContainer .jogoCard{
    display: flex;
}

.cardNContainer .jogoCard .card{
    padding: 10px;
    width: 105px;
    height: 105px;
    margin: 6px!important;
    border: 1px solid #013563;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    cursor: url('../assets/cursorBlue.png'), auto;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
    box-shadow: 0 0.3rem .8rem rgba(17, 17, 17, 0.3);
   
}
.cardNContainer .jogoCard .card img{
    width: 105px;
    height: 105px;
   
}

#palavra h2{
    font-family: 'Sniglet', cursive;
    font-size: 33px;
}

 .rodape p, #palavra p{
    color: #000;
    text-transform: uppercase;
    font-family: 'Sniglet', cursive;
    font-size: 27px;
    line-height: 1.6em;
    background-color: #ffffff;
}
.rodape{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.rodape #btReinicio{
    color: #000;
    font-family: 'Sniglet', cursive;
    background-color: #05ABC4;
    padding:.5rem!important;
    margin-bottom: .5rem!important;
    margin-top: .2rem!important;
    font-size: 15pt;
}
.rodape #btReinicio:hover{
    opacity: .8;
    transition: 0.5s;
}

